<mat-toolbar color="primary">
  <span>WhyDonate Test Assessment</span>

  <span class="example-spacer"></span>
  <a routerLink="home">HOME</a>
  <a routerLink="addCustomer">ADD CUSTOMER</a>
</mat-toolbar>
