<div class="row">
  <div class="col-12">
    <h1>Customer Details</h1>
  </div>

  <div class="col-12" *ngIf="this.selectedCustomer.length > 0; else noCustomer">
    <mat-card>
      <mat-card-title>NAME: {{ this.selectedCustomer[0].name }}</mat-card-title>
      <mat-card-subtitle
        >EMAIL: {{ this.selectedCustomer[0].email }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >PHONE: {{ this.selectedCustomer[0].phone }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >ADDRESS: {{ this.selectedCustomer[0].address }}</mat-card-subtitle
      >
      <p>CREATED AT: {{ this.selectedCustomer[0]["created_at"] }}</p>
      <p>UPDATED AT: {{ this.selectedCustomer[0]["updated_at"] }}</p>
    </mat-card>
  </div>
  <ng-template #noCustomer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</div>
