<div class="row">
  <div class="col-sm-12">
    <h1>ALL CUSTOMERS</h1>
  </div>

  <div
    *ngIf="this.allCustomers.data.length > 0; else noCustomer"
    class="col-sm-12 mat-elevation-z8"
  >
    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="100%">
        <input
          matInput
          type="text"
          (keyup)="doFilter($any($event.target).value)"
          placeholder="Search"
        />
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="this.allCustomers" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            [matMenuTriggerFor]="actionsMenu"
            [matMenuTriggerData]="{ row: row }"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['name', 'email', 'phone', 'address', 'actions']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['name', 'email', 'phone', 'address', 'actions']
        "
      ></tr>
    </table>
  </div>
</div>

<mat-menu #actionsMenu="matMenu">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item (click)="showCustomerDetails(row)">Details</button>
  </ng-template>
</mat-menu>

<ng-template #noCustomer>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
