<div class="row">
  <div class="col-12">
    <h1>ADD CUSTOMER</h1>
  </div>

  <div class="col-12">
    <mat-card>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="this.newCustomer.name"
          matInput
          placeholder="Your Name Here"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="this.newCustomer.email"
          type="email"
          matInput
          placeholder="Your valid email address here"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input
          [(ngModel)]="this.newCustomer.phone"
          type="tel"
          matInput
          placeholder="Your phone here"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea
          [(ngModel)]="this.newCustomer.address"
          matInput
          placeholder="Your address here"
        ></textarea>
      </mat-form-field>
    </mat-card>

    <button mat-raised-button color="primary" (click)="submitCustomer()">
      SUBMIT
    </button>
  </div>
</div>
